<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Checkout Info</title>
    <style th:replace="fragments/main.html :: menustyle"></style>
</head>
<body>
    <div th:replace="fragments/main.html :: menu(user = ${user})"></div>
    <section th:object="${deliveryInfo}">
        <span><h2>Name</h2><p th:text="*{name}"></p></span>
        <span><h2>Last name</h2><p th:text="*{lastName}"></p></span>
        <span><h2>Phone Nr</h2><p th:text="*{mobile}"></p></span>
        <span><h2>Adress</h2><p th:text="*{address}"></p></span>
    </section>
    <div th:replace="fragments/main.html :: footer"></div>
</body>
</html>
