<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Eshop - form</title>
    </head>
    <body>
        <h1>Produkto forma:</h1>
        <form th:action="@{/products/product}" method="post" th:object="${product}">
            <input type="hidden" th:field="*{id}"/>

            <p th:if="*{id != null}" th:text="'Id: ' + *{id}">Id:</p>
            <p>Title: <input type="text" th:field="*{title}"/></p>
            <p>Description: <input type="text" th:field="*{description}"/></p>
            <p>Price: <input type="text" th:field="*{price}"/></p>
            <p> <input type="submit" th:value="${product.id != null ? 'Redaguoti' : 'Kurti'}"/> </p>
        </form>
    </body>
</html>
