<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eshop - all products</title>
    <style th:replace="fragments/main.html :: menustyle"></style>
</head>
<body>
    <div th:replace="fragments/main.html :: menu"></div>
    <h1 th:text="#{sveikinimas}">Labas!!!</h1>
    <table>
        <thead>
            <tr>
                <td>Pavadinimas ilgas</td>
                <td>Price</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.title}" />
                <td th:text="${product.price}" />
                <td>
                    <a th:href="@{/public/products/{id}(id=${product.id})}">
                        Plačiau
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/private/products/product}">
        Kurti nauja
    </a>
    <div th:replace="fragments/main.html :: footer"></div>

</body>
</html>
