<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Checkout</title>
    <style th:replace="fragments/main.html :: menustyle"></style>
</head>
<body>
    <div th:replace="fragments/main.html :: menu(user = ${user})"></div>
    <form th:action="@{/private/products/checkout/submit}" th:object="${customer}" method="post">
        <span><p>Name</p><input type="text" th:field="*{name}"></span>
        <span><p>Last name</p><input type="text" th:field="*{lastName}"></span>
        <span><p>Phone Nr</p><input type="text" th:field="*{mobile}"></span>
        <span><p>Adress</p><input type="text" th:field="*{address}"></span>
        <input type="submit">
    </form>
    <div th:replace="fragments/main.html :: footer"></div>
</body>
</html>
