.menu-container {
    text-align: right;
    margin: 10px 5px;
}

.menu-container a {
    margin: 5px 5px 5px 10px;
    color: #004d99;
    font-weight: bold;
    text-decoration: none;
}

a.selected {
    color: #1575d0;
    text-decoration: underline;
}
